@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Ubuntu&display=swap');

:root {
  --color-primary: hsl(269, 64%, 46%);
  --color-secondary: hsl(164, 95%, 43%);
  --color-background: hsl(0, 4%, 9%);
  --color-neutral: hsl(0, 0%, 97%);
  --color-footer: hsl(0, 3%, 14%);
  --color-login: hsl(216, 5%, 21% );

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;

  --lh-400: 4rem;

  --padding-y: 1rem;
  --padding-x: 5rem;
  --padding-button: 0.8em 2em;
  --border-radius-button: 2px;
  --margin-5: 5rem;
}

body {
  font-family: 'Ubuntu', 'Golos Text', sans-serif;
  background-color: var(--color-background);
}

main {
  padding-inline: calc(var(--padding-x) * 2.5);
}

h1 {
  font-size: calc(var(--fs-800) * 1.7);
  line-height: var(--lh-400);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

/* Utility classes */
/* Flexbox */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */
.nav-flex {
  justify-content: flex-start;
  flex-grow: 1;
  padding-block: var(--padding-y);
  padding-inline: calc(var(--padding-x) * 2.5);
}

.nav-list {
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  font-size: calc(var(--fs-100));
  padding-left: calc(var(--padding-x) * 2);
}
  .nav-list a {
    color: var(--color-neutral);
    text-decoration: none;
  }
  .nav-list span {
    padding: var(--padding-button);
    position: relative;
  }
  .nav-list span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    transition: width 0.1s ease-in-out;
  }
  .nav-list span:hover::after {
    width: 100%;
  }

/* scale down the image logo */
.logo img {
  width: 5rem;
}

/* Hero section */
#hero-section {
  justify-content: center;
}

.hero-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral);
  gap: 8rem;
  margin-top: calc(var(--margin-5));
}

.hero-left {
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  gap: calc(var(--margin-5) * 0.6);
}
  .hero-left p {
    font-size: var(--fs-600);
    line-height: calc(var(--lh-400) * 0.5);
  }
  .hero-left span {
    color: var(--color-secondary);
  }
  .hero-left p span {
    color: var(--color-secondary);
  }
  .hero-left div {
    gap: calc(var(--margin-5) * 0.6);
  }
  .hero-left button {
    padding: var(--padding-button);
    border-radius: var(--border-radius-button);
  }
  .hero-left .create-account-button {
    font-weight: var(--fw-bold);
    background-color: var(--color-secondary);
    color: var(--color-background);
    transition: background-color 0.1s ease, color 0.1s ease;
  }
  .hero-left .create-account-button:hover {
    background-color: hsl(164, 93%, 37%)
  }
  .hero-left .login-button {
    background-color: transparent;
    color: var(--color-neutral);
    border: 1px solid var(--color-neutral);
    transition: background-color 0.1s ease, color 0.1s ease;
  }
  .hero-left .login-button:hover {
    background-color: var(--color-neutral);
    color: var(--color-background);
  }

.hero-right {
  flex: 1;
  justify-content: center;
}
  .hero-right img {
    width: 30rem;
  }

.waves {
  width: 100%;
  top: 18rem;
  position: absolute;
  z-index: -1;
}

/* Login Screen */
.login-screen {
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

@media (min-height: 800px) {
  .login-screen {
    min-height: 800px;
  }
}

.login-container {
  flex-direction: row;
  background-color: var(--color-login);
  padding: calc(var(--padding-y) * 2) calc(var(--padding-x) * .5);
  border-radius: 3px;
}

.login-left {
  flex-direction: column;
  gap: 2rem;
  color:var(--color-neutral);
  font-size: .65rem;
  font-family: 'Golos Text';
  border-right: 1px solid hsl(0, 0%, 46%);
  padding-right: calc(var(--padding-x)* .5);
}

.login-buttons {
  flex-direction: column;
  margin-left: 0;
  gap: 1rem;
}

.login-left p {
  align-self: flex-start;
  padding-left: calc(var(--padding-x) * .05);
  letter-spacing: .75px;
}

.login-left p span {
  color: var(--color-secondary);
}

/* hr {
  width: 1px;
  height: 20rem;
  margin: 0 30px;
  fill: red;
} */
