@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Ubuntu&display=swap');

:root {
  --color-primary: hsl(269, 64%, 46%);
  --color-secondary: hsl(164, 95%, 43%);
  --color-background: hsl(0, 4%, 9%);
  --color-neutral: hsl(0, 0%, 97%);
  --color-footer: hsl(0, 3%, 14%);

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;
}

html {
  font-family: 'Ubuntu', 'Golos Text', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
  background-color: var(--color-secondary);
}