@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Ubuntu&display=swap');

:root {
  --color-primary: hsl(269, 64%, 46%);
  --color-secondary: hsl(164, 94%, 41%);
  --color-secondary-hover: hsl(164, 93%, 37%);
  --color-background: hsl(0, 4%, 9%);
  --color-neutral: hsl(0, 0%, 97%);
  --color-footer: hsl(0, 0%, 15%);
  --color-login: hsl(216, 5%, 21%);
  --color-input-dark: hsla(0, 5%, 82%, 0.33);

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;

  --lh-400: 4rem;

  --padding-y: 1rem;
  --padding-x: 5rem;
  --padding-button: 0.8em 2em;
  --border-radius-button: 2px;
  --margin-5: 5rem;

  --flex-gap: 2rem;

  --w: 2rem;
  --h: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', 'Golos Text', sans-serif;
  background-color: var(--color-background);
}

main {
  padding-inline: calc(var(--padding-x) * 2.5);
}

h1 {
  font-size: calc(var(--fs-800) * 1.7);
}

a {
  text-decoration: none;
  color: var(--color-neutral);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-secondary);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

button {
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

/* Utility classes */
/* Flexbox */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.direction-column {
  flex-direction: column;
}
.self-center {
  align-self: center;
}
.flex-grow {
  flex: 1;
}

.relative {
  position: relative;
}

/* Navbar */
.nav-flex {
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 1;
}
.nav-flex, footer {
  padding-block: var(--padding-y);
  padding-inline: calc(var(--padding-x) * 2.5);
}

.nav-list {
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  font-size: calc(var(--fs-100));
  padding-left: calc(var(--padding-x) * 2);
}
  .nav-list a {
    color: var(--color-neutral);
    text-decoration: none;
  }
  .nav-list span {
    padding: var(--padding-button);
    position: relative;
  }
  .nav-list span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    transition: width 0.1s ease-in-out;
  }
  .nav-list span:hover::after {
    width: 100%;
  }

/* scale down the image logo */
.logo img {
  width: 5rem;
}

/* Logged In NavBar */
.logged-nav {
  padding-inline: calc(var(--padding-x)) calc(var(--padding-x) * 2.5);
  background-color: hsla(0, 2%, 16%);
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.2);
}
.logged-nav .items-right {
  gap: 1rem;
}

/* Logged in dropdown menu */

.logged-dropdown-menu {
  position: absolute;
  background-color: hsla(0, 2%, 20%);
  border-radius: calc(var(--border-radius-button) * 2);
  padding: 0.5rem;
  width: 14rem;
  gap: 0.5rem;
  right: 0;
  margin-top: 2.6rem;
}
  .logged-dropdown-menu .username-link {
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .logged-dropdown-menu a {
    position: relative;
    padding: 0.5rem;
    border-radius: var(--border-radius-button);
    line-height: normal;
  }
  .logged-dropdown-menu a:hover {
    background-color: hsla(0, 2%, 28%);
    color: var(--color-neutral);
  }
  .logged-dropdown-menu .username-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
    height: 1px;
    background-color: hsla(0, 2%, 28%);
  }

.logged-nav ul {
  position: relative;
  height: 50px;
  margin: 0;
}

.logged-nav-list > div {
  margin-left: calc(var(--margin-5) * .75);
}

.navbar-avatar {
  margin-left: calc(var(--margin-5) * .05);
}

.premium {
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: calc(var(--fs-200) * 1.05);
  padding: calc(var(--padding-y) * .34) calc(var(--padding-x) * .13);
  border-radius: calc(var(--border-radius-button) * 3);
}

.premium > a {
  color: var(--color-secondary);
}

.avatar-image-wrapper {
  width: calc(var(--w) * 0.85);
  height: calc(var(--w) * 0.85);
}

.avatar-image {
  object-fit: cover;
  border-radius: 9999px;
  width: calc(var(--w) * 0.85);
  height: calc(var(--w) * 0.85);
  max-width: 100%;
}

.account-icon button {
  background: transparent;
}

/* Footer */
footer {
  justify-content: space-between;
  color: var(--color-neutral);
  background-color: var(--color-footer);
  opacity: 0.8;
}
  footer ul {
    list-style: none;
    gap: var(--flex-gap);
  }
  footer a, footer a:hover {
    color: var(--color-neutral);
  }
    footer p, footer ul {
      margin: 0;
    }

/* Hero section */
#hero-section {
  justify-content: center;
}

.hero-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral);
  gap: 8rem;
  margin-top: calc(var(--margin-5));
}

.hero-left {
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  gap: calc(var(--margin-5) * 0.6);
}
  .hero-left p {
    font-size: var(--fs-600);
    line-height: calc(var(--lh-400) * 0.5);
  }
  .hero-left span {
    color: var(--color-secondary);
  }
  .hero-left p span {
    color: var(--color-secondary);
  }
  .hero-left div {
    gap: calc(var(--margin-5) * 0.4);
  }
  .hero-left button {
    padding: var(--padding-button);
    border-radius: var(--border-radius-button);
  }
  .hero-left .create-account-button {
    font-weight: var(--fw-bold);
    background-color: var(--color-secondary);
    color: var(--color-background);
    transition: background-color 0.1s ease, color 0.1s ease;
  }
  .hero-left .create-account-button:hover {
    background-color: var(--color-secondary-hover);
  }
  .hero-left .login-button {
    background-color: transparent;
    color: var(--color-neutral);
    border: 1px solid var(--color-neutral);
    transition: background-color 0.1s ease, color 0.1s ease;
  }
  .hero-left .login-button:hover {
    background-color: var(--color-neutral);
    color: var(--color-background);
  }

.hero-right {
  flex: 1;
  justify-content: center;
}
  .hero-right img {
    width: 30rem;
  }

.waves {
  width: 100%;
  top: 18rem;
  position: absolute;
  z-index: -1;
}

/* Login Screen */
.login-screen {
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

@media (min-height: 800px) {
  .login-screen {
    min-height: 800px;
  }
}

.login-container {
  background-color: var(--color-login);
  color: var(--color-neutral);
  padding: calc(var(--padding-y) * 2.4);
  border-radius: 3px;
  width: 25rem;
}
  .login-container .login-utilities {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }
    .login-container .login-utilities > div {
      gap: calc(var(--flex-gap) * 0.2);
    }

.line-break {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: none;
  margin-block: calc(var(--flex-gap) * 0.7);
}
  .line-break span {
    text-align: center;
    flex: 0.2 0 auto;
    margin: 0;
  }
  .line-break::after, .line-break::before {
    content: "";
    border-bottom: 1px solid var(--color-input-dark);
    flex: 1 0 auto;
    height: 0.8rem;
  }

.login-top {
  display: flex;
  flex-direction: column;
}
  .login-top form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--flex-gap) * 0.7);
  }
    .login-top form > div {
      font-size: calc(var(--fs-400) * .7);
      flex-direction: row;
      /* align-items: flex-start; */
      /* gap: calc(var(--flex-gap) * 0.1); */
    }
    .login-top form .password-input {
      border-radius: var(--border-radius-button) 0 0 var(--border-radius-button);
    }

  .login-top .password-button {
    width: 3rem;
    border-radius: 0 var(--border-radius-button) var(--border-radius-button) 0;
  }
    .login-top .password-button:hover,
    .login-top .password-button:focus {
      background-color: var(--color-secondary-hover);
    }

  .login-top .login-button:hover {
    background-color: var(--color-secondary-hover);
  }

  .login-top p {
    margin: 0;
    color: var(--color-neutral);
  }
  .login-top h1 {
    font-size: var(--fs-800);
    margin: 0;
  }
  .login-top a {
    color: var(--color-secondary);
    text-decoration: none;
  }
  .login-top a,
  .login-top p,
  .login-top label {
    font-size: var(--fs-200);
  }
  .login-top input {
    border: none;
  }
  .login-top input::placeholder {
    color: var(--color-neutral);
    opacity: 0.8;
  }
  .login-top input,
  .login-top input:focus {
    color: var(--color-neutral);
    border-radius: var(--border-radius-button);
    background-color: var(--color-input-dark);
    font-size: var(--fs-300);
  }
  .login-top button {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-button);
    border:none;
    padding-inline: calc(var(--padding-x) * .15);
    width: 100%;
  }

.login-buttons {
  display: flex;
  gap: calc(var(--flex-gap) * 0.5);
  color:var(--color-neutral);
}
  .login-buttons button {
    width: 100%;
    background-color: var(--color-login);
    color: var(--color-neutral);
    border: 1px solid var(--color-input-dark);
    border-radius: var(--border-radius-button);
    padding: var(--padding-button);
  }
  .login-buttons button:hover {
    background-color: var(--color-input-dark);
  }