@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Ubuntu&display=swap');

:root {
  --color-primary: hsl(269, 64%, 46%);
  --color-secondary: hsl(164, 95%, 43%);
  --color-background: hsl(0, 4%, 9%);
  --color-neutral: hsl(0, 0%, 97%);
  --color-footer: hsl(0, 3%, 14%);

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;
  
  --lh-400: 1.5px;

  --padding-y: 1rem;
  --padding-x: 5rem;
}

body {
  font-family: 'Ubuntu', 'Golos Text', sans-serif;
  background-color: var(--color-background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
  background-color: var(--color-secondary);
}

/* Utility classes */
/* Flexbox */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Navbar */
.nav-flex {
  justify-content: flex-start;
  flex-grow: 1;
  padding: var(--padding-y) var(--padding-x);
}

.nav-list {
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  font-size: calc(var(--fs-500) * 1.05);
  padding-left: calc(var(--padding-x) * 2);
}

.nav-list a {
  color: var(--color-neutral);
  text-decoration: none;
}

/* scale down the image logo */
.logo img {
  width: 5rem;
}

