@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Ubuntu&display=swap');

:root {
  --color-primary: hsl(269, 64%, 46%);
  --color-secondary: hsl(164, 95%, 43%);
  --color-background: hsl(0, 4%, 9%);
  --color-neutral: hsl(0, 0%, 97%);
  --color-footer: hsl(0, 3%, 14%);

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;

  --lh-400: 4rem;

  --padding-y: 1rem;
  --padding-x: 5rem;
  --padding-button: 1rem 3rem;
  --margin-5: 5rem;
}

body {
  font-family: 'Ubuntu', 'Golos Text', sans-serif;
  background-color: var(--color-background);
}

main {
  padding-inline: calc(var(--padding-x) * 2.5);
}

h1 {
  font-size: calc(var(--fs-800) * 1.5);
  margin-bottom: calc(var(--margin-5) * 0.75);
  line-height: var(--lh-400);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

/* Utility classes */
/* Flexbox */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Navbar */
.nav-flex {
  justify-content: flex-start;
  flex-grow: 1;
  padding-block: var(--padding-y);
  padding-inline: calc(var(--padding-x) * 2.5);
}

.nav-list {
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  font-size: calc(var(--fs-100));
  padding-left: calc(var(--padding-x) * 2);
}
  .nav-list a {
    color: var(--color-neutral);
    text-decoration: none;
  }
  .nav-list span {
    padding: var(--padding-button);
    position: relative;
  }
  .nav-list span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    transition: width 0.1s ease-in-out;
  }
  .nav-list span:hover::after {
    width: 100%;
  }


/* scale down the image logo */
.logo img {
  width: 5rem;
}

/* Hero section */
#hero-section {
  justify-content: center;
}

.hero-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral);
  gap: 8rem;
  margin-top: calc(var(--margin-5));
}

.hero-left {
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
  .hero-left p {
    font-size: var(--fs-700);
    margin-bottom: calc(var(--margin-5) * 1.5);
    letter-spacing: .05rem;
  }
  .hero-left h1 {
    letter-spacing: .05rem;
  }
  .hero-left span {
    color: var(--color-secondary);
  }
  .hero-left p span {
    color: var(--color-secondary);
  }
  .hero-left div {
    gap: var(--margin-5);
  }
  .hero-left .login-button {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    padding: var(--padding-button);
    background-color: var(--color-secondary);
    color: var(--color-background);
  }
  .hero-left .create-account-button {
    background-color: transparent;
    color: var(--color-neutral);
  }

.hero-right {
  flex: 1;
  justify-content: center;
}
.hero-right img {
  width: 30rem;
}